table,tr,td{
  border: 2px solid black;
  text-align: center;
}

#grid{
  display:grid;

}

#val{
  background-image: linear-gradient(to right, red , yellow);
}
#form{
  margin-left:100px;
}

h1,h2{
  text-align: center;
}